### Universe

In [6]:
import pandas as pd

In [7]:
universe_file_path = './data/snp500.csv'
df = pd.read_csv(universe_file_path, index_col=False)

In [8]:
df

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [10]:
tickers = df['Symbol'].tolist()

### Yahoo Historical data (2016-2023) and Earning Calendars

In [41]:
## Params
start_date = '2016-01-01'
end_date = '2023-08-31'

In [42]:
tickers =['MSFT', 'AAPL', 'MDB']

In [50]:
import yfinance as yf

open_result = pd.DataFrame()
close_result = pd.DataFrame()
high_result = pd.DataFrame()
low_result = pd.DataFrame()
volume_result = pd.DataFrame()
earnings_calendars = {}

for ticker in tickers:
    ticker_data = yf.Ticker(ticker)

    #historical data
    historical_data = ticker_data.history(start=start_date, end=end_date)
    open = historical_data['Open']
    close = historical_data['Close']
    high = historical_data['High']
    low = historical_data['Low']
    volume = historical_data['Volume']
    open_result[ticker] = open
    close_result[ticker] = close
    high_result[ticker] = high
    low_result[ticker] = low
    volume_result[ticker] = volume

In [51]:
open_result

                                 MSFT        AAPL         MDB
Date
2016-01-04 00:00:00-05:00   48.370293   23.384623         NaN
2016-01-05 00:00:00-05:00   48.913488   24.100228         NaN
2016-01-06 00:00:00-05:00   48.370299   22.917433         NaN
2016-01-07 00:00:00-05:00   46.927739   22.488982         NaN
2016-01-08 00:00:00-05:00   46.633887   22.459361         NaN
...                               ...         ...         ...
2023-08-24 00:00:00-04:00  332.850006  180.669998  384.989990
2023-08-25 00:00:00-04:00  321.470001  177.380005  357.179993
2023-08-28 00:00:00-04:00  325.660004  180.089996  365.410004
2023-08-29 00:00:00-04:00  321.880005  179.699997  357.950012
2023-08-30 00:00:00-04:00  328.670013  184.940002  366.549988

[1928 rows x 3 columns]

In [48]:
open_file_path = './data/open_price.csv'
close_file_path = './data/close_price.csv'
high_file_path = './data/high_price.csv'
low_file_path = './data/low_price.csv'
volume_file_path = './data/volume.csv'

In [56]:
msft = yf.Ticker('MSFT')
msft.get_earnings_dates(limit=60)

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2024-07-23 06:00:00-04:00           NaN           NaN          NaN
2024-04-23 06:00:00-04:00           NaN           NaN          NaN
2024-01-22 16:00:00-05:00           NaN           NaN          NaN
2024-01-22 05:00:00-05:00           NaN           NaN          NaN
2023-10-23 06:00:00-04:00          2.65           NaN          NaN
2023-07-25 12:00:00-04:00          2.55          2.69       0.0549
2023-04-25 12:00:00-04:00          2.23          2.45       0.0981
2023-01-24 11:00:00-05:00          2.29          2.32       0.0109
2022-10-25 12:00:00-04:00          2.30          2.35       0.0205
2022-07-26 12:00:00-04:00          2.29          2.23      -0.0274
2022-04-26 12:00:00-04:00          2.19          2.22       0.0160
2022-01-25 11:00:00-05:00          2.31          2.48       0.0725
2021-10-26 12:00:00-04:00          2.07          2.27       0.0941
2021-07-27 12:00:00-04:00          1.92          2.17       0.1326
2021-04-27 12:00:00-04:00          1.78          1.95       0.0963
2021-01-26 11:00:00-05:00          1.64          2.03       0.2369
2020-10-27 12:00:00-04:00          1.54          1.82       0.1791
2020-07-22 12:00:00-04:00          1.34          1.46       0.0872
2020-04-29 12:00:00-04:00          1.26          1.40       0.1070
2020-01-29 11:00:00-05:00          1.32          1.51       0.1449
2019-10-23 12:00:00-04:00          1.25          1.38       0.1083
2019-07-18 12:00:00-04:00          1.21          1.37       0.1295
2019-04-24 12:00:00-04:00          1.00          1.14       0.1415
2019-01-30 11:00:00-05:00          1.09          1.10       0.0070
2018-10-24 12:00:00-04:00          0.96          1.14       0.1837
2018-07-19 12:00:00-04:00          1.08          1.13       0.0502
2018-04-26 12:00:00-04:00          0.85          0.95       0.1186
2018-01-31 11:00:00-05:00          0.86          0.96       0.1100
2017-10-26 12:00:00-04:00          0.72          0.84       0.1655
2017-07-20 12:00:00-04:00          0.71          0.98       0.3893
2017-04-27 12:00:00-04:00          0.70          0.73       0.0466
2017-01-26 11:00:00-05:00          0.79          0.84       0.0620
2016-10-20 12:00:00-04:00          0.68          0.76       0.1127
2016-07-19 12:00:00-04:00          0.58          0.69       0.1882
2016-04-21 12:00:00-04:00          0.64          0.62      -0.0273
2016-01-28 11:00:00-05:00          0.71          0.78       0.0944
2015-10-22 12:00:00-04:00          0.59          0.67       0.1434
2015-07-21 12:00:00-04:00          0.56          0.60       0.0657
2015-04-23 12:00:00-04:00          0.51          0.61       0.2045
2015-01-26 11:00:00-05:00          0.71          0.75       0.0514
2014-10-23 12:00:00-04:00          0.49          0.54       0.1123
2014-07-22 00:00:00-04:00          0.60          0.55      -0.0865
2014-04-24 00:00:00-04:00          0.63          0.68       0.0802
2014-01-23 00:00:00-05:00          0.68          0.78       0.1483
2013-10-24 00:00:00-04:00          0.54          0.62       0.1510
2013-07-18 00:00:00-04:00          0.75          0.66      -0.1196
2013-04-18 00:00:00-04:00          0.68          0.72       0.0597
2013-01-24 00:00:00-05:00          0.75          0.76       0.0193
2012-10-18 00:00:00-04:00          0.56          0.53      -0.0547
2012-07-19 00:00:00-04:00          0.62          0.67       0.0848
2012-04-19 00:00:00-04:00          0.57          0.60       0.0438
2012-01-19 00:00:00-05:00          0.76          0.78       0.0293
2011-10-20 00:00:00-04:00          0.68          0.68       0.0038
2011-07-21 00:00:00-04:00          0.58          0.69       0.1988
2011-04-28 00:00:00-04:00          0.56          0.61       0.0974
2011-01-27 00:00:00-05:00          0.68          0.77       0.1257
2010-10-28 00:00:00-04:00          0.55          0.62       0.1298
2010-07-22 00:00:00-04:00          0.46          0.51       0.0982
2010-04-22 00:00:00-04:00          0.42          0.45       0.0695
2010-01-28 00:00:00-05:00          0.59          0.74       0.2479